    <h1>About Us</h1>
    <p>
    <a href = 'http://railstutorial.org'>Ruby on Rails Tutorial</a>
    is a project to make a book and screencasts to teach web development with this as a sample application code
    </p>
