<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= csrf_meta_tag %>
    </head>
    <%= stylesheet_link_tag 'stylesheets/blueprint/screen', :media => 'screen'%>
    <%= stylesheet_link_tag 'stylesheets/blueprint/print', :media => 'print'%>
  <body>
    <%= yield %>
  </body>
</html>


